 * {
    margin: 0;
    padding: 0;
  }

 header {
    display: flex;
    justify-content: baseline;
    align-content: center;
  }
  .lista {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 15px;
    margin: 0;
    gap: 20px; 
  }
  .opcoes:hover {
    display: flex;
    flex-wrap: nowrap;
    background-color: orangered;
    color: aliceblue;
    font-weight: bold;
  }
  .img {
    display: flex;
    justify-content: flex-start;
    width: 150px;
  }
  .faster {
    display: flex;
    align-content: end;
    align-self: center;
    font-size: 25px;
    font-style: bold;
    color: orangered;
  }
  button {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    border: solid 1px orangered;
    border-radius: 10px;
    color: white;
    padding: 10px;
    background-color: orangered;
    transition: background-color   0.2s ease, color 0.2s ease;
  }
  button:hover {
    background-color: aliceblue;
    color: orangered;
  }
  
  
  .image-log {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 50%;
    font-size: 200%;
    background-image: url(https://img.ibxk.com.br/2013/5/materias/4426485393141937-o.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    filter: brightness(0.40);
    color: white;
  }
  