 * {
    margin: 0;
    padding: 0;
  }

 .naveg {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .lista {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 20px;
    margin: 0;
    gap: 20px; 
  }
  .img {
    display: flex;
    justify-content: flex-start;
    width: 60px;
  }
  .faster {
    display: flex;
    align-content: end;
    align-self: center;
    font-size: 25px;
    font-style: bold;
    color: orangered;
  }
  button {
    border: solid 1px orangered;
    border-radius: 10px;
    color: white;
    padding: 10px;
    background-color: orangered;
    transition: background-color   0.5s ease, color 0.5s ease;
  }
  button:hover {
    background-color: aliceblue;
    color: orangered;
  }
  .nav {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .image-log {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 50%;
    font-size: 200%;
    background-image: url(https://img.ibxk.com.br/2013/5/materias/4426485393141937-o.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    filter: brightness(0.40);
  }
  .text {
    color: azure;
  }