@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Rubik", sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
}
.list {
	display: flex;
	position: relative;
	justify-content: center;
	flex-direction: row;
	padding: 12px;
	gap: 8px;
	cursor: default;
}
.options {
	padding: 15px 20px;
	width: auto;
	font-weight: bolder;
}

.options:hover {
	display: flex;
	/* flex-wrap: nowrap; */
	background-color: orangered;
	color: aliceblue;
	font-weight: bold;
}
.logo {
	width: 14rem;
	height: 4rem;
	margin-left: 10px;
	margin-top: 5px;
}

.btn-encomendas {
	position: relative;
	margin-right: 15rem;
	border: none;
	font-size: 15px;
	color: white;
	font-weight: bold;
	padding: 5px 20px 5px 20px;
	background-color: orangered;
	transition: background-color 0.2s ease, color 0.2s ease;
}
.btn-encomendas:hover {
	background-color: aliceblue;
	color: orangered;
}

.image {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: url(https://img.ibxk.com.br/2013/5/materias/4426485393141937-o.jpg);
	background-size: cover;
	background-position: center;
	height: 500px;
	color: white;
}

.image:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6); /* Escurece a imagem de fundo */
	z-index: 1;
}

.content {
	font-size: 50px;
	position: relative;
	z-index: 2;
}

.content p {
	margin-bottom: 20px;
}

.content h3 {
	margin-bottom: 40px;
}

.search-service {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 600px;
}

#pesquisar {
	flex-grow: 1;
	padding: 16px 20px;
	box-sizing: border-box;
	font-size: medium;
	height: 55px;
}

#pesquisar::placeholder {
	width: 100%;
	font-size: medium;
}

.btn-pesquisa {
	padding: 16px;
	background-color: orangered;
	color: white;
	border: none;
	font-size: medium;
	cursor: pointer;
	height: 53px;
}

.btn-pesquisa:hover {
	background-color: azure;
	color: orangered;
}

.text-getquote {
	width: 50%;
	padding-right: 15px;
	margin-left: 35px;
}

.text-getquote h1 {
	font-size: 36px;
	color: #333;
	margin-bottom: 20px;
}

.text-getquote h4 {
	font-size: 20px;
	color: #ff5a01;
	margin-bottom: 10px;
}

.text-getquote p {
	font-size: 16px;
	color: #666;
	line-height: 1.6;
}

.order-services {
	background-color: #dfddd7;
	margin: 8% 0;
	margin-top: 25px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.num-services {
	text-align: center;
	margin-left: 20px;
}

.num-services h1 {
	font-size: 36px;
	color: #ff5a01;
}

.num-services p {
	font-size: 16px;
	color: #666;
	margin-bottom: 30px;
}

.orders-services {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 30%;
	background-color: #ff5a01;
	padding: 30px;
	border-radius: 5px;
}

.orders-services input {
	padding: 15px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
}
.orders-services select {
	width: 100%;
	padding: 15px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
}

.orders-services button {
	padding: 15px;
	background-color: #1a1a1a;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

.orders-services button:hover {
	background-color: #333;
}

.plan-prices {
	text-align: center;
}

.title-plan {
	margin: 10px;
}

.title-plan h3 {
	font-size: 18px;
	text-transform: uppercase;
	color: #ff5a01;
}

.title-plan h1 {
	margin-top: 10px;
	font-size: 36px;
	margin-bottom: 35px;
}

.plans {
	display: flex;
	justify-content: center;
	align-items: stretch;
	margin: 15px;
	text-align: center;
	gap: 8%;
}

.plans h1 {
	font-size: 40px;
	margin: 30px;
}

.plans h2 {
	margin: 10px 0;
	font-size: 30px;
	background-color: #050505;
	color: white;
	padding: 15px 50px;
}

.plans p {
	font-size: 20px;
	margin: 15px;
}

.centralize {
	margin-top: 55px;
}

.plans button {
	padding: 8%;
	font-size: 18px;
	font-weight: bolder;
	background-color: #ff5a01;
	border: none;
	cursor: pointer;
	border-radius: 40px;
	color: azure;
}

.plans button:hover {
	background-color: aliceblue;
	color: #1a1a1a;
}

.plan-basic,
.plan-premium,
.plan-business {
	padding: 3rem 5rem 8rem 5rem;
	background-color: #dfddd7;
	width: 12%;
}


footer {
	background-color: darkblue;
	margin-top: 45px;
	display: flex;
	justify-content: baseline;
}

footer h2 {
	color: aliceblue;
}

.links {
	position: relative;
	margin-left: 0;
	margin: 10rem;
	color: aliceblue;
}

.contacts {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.contacts a {
	text-decoration: none;
	color: aliceblue;
}

.contacts a:hover {
	text-decoration: underline;
}

.media img {
	margin: 15px 10px;
	gap: 18px;
}

.newsletter {
	margin: 10rem 4rem;
	color: aliceblue;
	max-width: 100%;
}

.newsletter p {
	margin-top: 8px;
	float: left;
}

.newsletter div {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 600px;
	margin: 45px 0;
}

.newsletter input {
	flex-grow: 1;
	padding: 16px 20px;
	box-sizing: border-box;
	font-size: medium;
	width: 100%;
}

.newsletter input:hover {
	width: 55%;
	font-size: medium;
}

.btn-enviar-email {
	padding: 16px;
	background-color: orangered;
	color: white;
	border: none;
	font-size: medium;
	cursor: pointer;
	height: 53px;
	margin-left: 0;
}

.btn-enviar-email:hover {
	color: #050505;
	background-color: aliceblue;
}